.one {
  text-align: center;
}

.one h1 {
  font-family: Georgia;
  font-size: 25px;
  color: red;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 100px 200px 100px;
}

#a {
    
}
